html,
body{

  font-size: 16px;
  margin:0 auto;
  /* background:black; */
  overflow: hidden !important;
}

h3{
  position: fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  z-index:-1;
}
canvas{
  background: transparent;
}
